body{
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hd-bg{
    position: fixed;
    left: 0;
    top: 0;
    margin:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.65);
    display: none;
}

#hd-confirm-dialogbox{
    position: relative;
    margin: 10% auto;
    width: 400px;
    background-color: #f8f8f8;
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease opacity,.3s ease transform;
}
.hd-img{
    padding-top: 16px;
}
.hd-img img{
    width: 75px;
}
.hd-header{
    margin-top: 16px;
    padding: 0 35px;
}
.hd-header-h{
    font-size:22px;
    color:#262626;
    margin:-4px 0 -5px;
    font-weight: 500;
}
.hd-description{
    padding: 16px 35px;
}
.hd-description p {
    margin:0px;
    color: #999999;
}
.hd-button{
    width:100%;
    height: 48px;
    padding:4px 8px;
    font-size:16px;
    border:0px;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    cursor:pointer;
    background-color: rgba(var(--f23,255,255,255),1);
    color: #262626;
    font-size: 14px;
}
.hd-cancel-button{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.hd-ok-button{
    font-weight: bold;
    color: #E21B1B;
}